html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.navbar {
    position: fixed;
    width: 100%;
    z-index: 9;
}
#main-container {
    position:relative;
}
#main-container > .row {
    height: 100%;
}
.product-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.product-tile > a {
    color: #343A40;
    text-decoration: none !important;
}
.no-value {
    border: 2px solid red !important;
}
.carousel-control-next, .carousel-control-prev {
    color: #000 !important;
    opacity: 1 !important;
}
.carousel-indicators {
    bottom: 80px !important;
    /* margin-bottom: 0!important; */
}
.carousel-indicators > li {
    background-color: #343A40 !important;
}
.pallettes > strong {
    position:relative;
    top: -13px;
}
.size {
    top: 0 !important;
}
.pallettes > div {
    display: inline-block;
    margin: 3px;
    cursor: pointer;
}
.colour-pallettes {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline;
}
.size-pallettes {
    height: 30px;
    width: 40px;
    text-align: center;
    border: 0.5px solid;
    padding: 5px;
}
.white{
    background-color: #fff;
    border: 1px solid #000;
}
.black {
    background-color: #000;
}
.blue {
    background-color: blue;
}
.brown {
    background-color: brown;
}
.navy {
    background-color: navy;
}
.pink {
    background-color: pink;
}
.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}

.dot-parent {
    position:relative;
}
.red-dot {
    width: 15px;
    height: 15px;
    position: absolute;
    background: red;
    border-radius: 50%;
    right: -5px;
}

.cart-tile {
    display: inline-flex;
    height: 85px;
}

.checkout-btn {
    width: 100%;
    text-decoration: none;
}

.checkout-btn:hover {
    color: #fff;
}

#special-scroll {
    overflow-y: auto;
}

#special-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #F5F5F5;
}

#special-scroll::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

#special-scroll::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

.form-label {
    position: relative;
    width: 100%;
}

.form-label > span {
    position: absolute;
    right: 0;
}